<main>
    <div class="head-title">
        <div class="left">
            <h1>Credcoop</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div [routerLink]="['/cadastrar-cliente-credcoop']"
                class="card border-right-primary py-2 custom-card-effect h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="text-primary text-uppercase mb-1">Cadastrar</div>
                            <div class="h5 mb-0">40,000</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div [routerLink]="['/credcoop-lista']" class="card border-right-primary py-2 custom-card-effect h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="text-primary text-uppercase mb-1">Listar</div>
                            <div class="h5 mb-0">154 clientes cadastrados</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>