<main>
    <div class="head-title">
        <div class="left">
            <h1>Credcoop</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="text-primary text-uppercase mb-1">
                                Cadastrar</div>
                            <div class="h5 mb-0">40,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-3 my-3">
            <button [routerLink]="['/cadastrar-cliente-credcoop']" class="btn btn-info w-100" type="button">
                Cadastrar
            </button>
        </div>
    </div>
</main>