<!-- SIDEBAR -->
<div *ngIf="isLoggedIn">
  <section id="sidebar" [ngClass]="status ? 'hide' : ''">

    <a href="#" class="brand">
      <i class='bx bxs-smile'></i>
      <span class="text">Esctop</span>
    </a>

    <ul class="side-menu top">

      <li [routerLinkActive]="'active'">
        <a [routerLink]="['home']">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Dashboard</span>
        </a>
      </li>

      <li [routerLinkActive]="'active'">
        <a [routerLink]="['credcoop']">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Credcoop</span>
        </a>
      </li>

      <li [routerLinkActive]="'active'">
        <a [routerLink]="['emprestimo-dashboard']">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Empréstimo</span>
        </a>
      </li>

      <li [routerLinkActive]="'active'">
        <a [routerLink]="['address']">
          <i class='bx bxs-shopping-bag-alt'></i>
          <span class="text">Endereços</span>
        </a>
      </li>
      <li [routerLinkActive]="'active'">
        <a [routerLink]="['esctop']">
          <i class='bx bxs-shopping-bag-alt'></i>
          <span class="text">Esctop</span>
        </a>
      </li>
      <li [routerLinkActive]="'active'">
        <a [routerLink]="['states']">
          <i class='bx bxs-shopping-bag-alt'></i>
          <span class="text">Estados</span>
        </a>
      </li>
    </ul>

    <ul class="side-menu">
      <li [routerLinkActive]="'active'">
        <a [routerLink]="['address-list']">
          <i class='bx bxs-cog'></i>
          <span class="text">Usuário</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['login']" class="logout" (click)="logout()">
          <i class='bx bxs-log-out-circle'></i>
          <span class="text">Logout</span>
        </a>
      </li>
    </ul>

  </section>
  <!-- SIDEBAR -->
  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      <i (click)="addToggle()" class='bx bx-menu'></i>
      <a href="#" class="nav-link">Categories</a>
      <form action="#">
        <div class="form-input">
          <input type="search" placeholder="Search...">
          <button type="button" class="search-btn"><i class='bx bx-search'></i></button>
        </div>
      </form>
      <a href="#" class="notification">
        <i class='bx bxs-bell'></i>
        <span class="num">8</span>
      </a>
      <a href="#" class="profile">
        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
      </a>
    </nav>
    <!-- NAVBAR -->
    <!-- MAIN -->
    <router-outlet></router-outlet>
    <!-- MAIN -->
  </section>
</div>
<!-- CONTENT -->
<app-auth *ngIf="!isLoggedIn"></app-auth>