<form>
  <div class="form-group">
    <label for="stateSelect">Selecione um estado:</label>
    <ng-select
      class="form-select"
      [(ngModel)]="selectedState"
      name="selectedState"
      (ngModelChange)="onSubmit()"
    >
      <ng-option [value]="-1" disabled selected
        >Selecione o seu estado</ng-option
      >
      <ng-option *ngFor="let state of states" [value]="state.id">
        {{ state.name }}
      </ng-option>
    </ng-select>
  </div>

  <div class="form-group">
    <label for="citySelect">Selecione uma cidade:</label>
    <ng-select
      class="form-select"
      [(ngModel)]="selectedCity"
      name="selectedCity"
      [disabled]="!selectedState"
    >
      <ng-option *ngFor="let city of cities" [value]="city.id">
        {{ city.name }}
      </ng-option>
    </ng-select>
  </div>

  <button type="submit" class="btn btn-primary" style="display: none"></button>
</form>

<div *ngIf="selectedCity === null">
  <p>Selecione um estado para ver as cidades correspondentes.</p>
</div>

<div *ngIf="cities && cities.length === 0 && selectedCity !== null">
  <p>Nenhuma cidade encontrada para o estado selecionado.</p>
</div>
