label {
    padding-top: 20px;
}

/* Estilo para a borda direita em telas maiores que 768 pixels */
.col-12.col-md-9.border-right-md {
    border-right: 1px solid #ccc;
}

/* Estilo para remover a borda direita em telas menores que 768 pixels */
@media (max-width: 767.98px) {
    .col-12.col-md-9.border-right-md {
        border-right: none;
    }
}