<main>
    <div class="head-title">
        <div class="left">
            <h1>Empréstimo</h1>
            <ul class="breadcrumb">
                <li>
                    <a [routerLink]="['/emprestimo-dashboard']" class="active">Empréstimo</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a href="#">Cadastrar empréstimo</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-3">
            <form class="example-form">
                <div class="form-group">
                    <label for="nomeCliente">Nome do cliente</label>
                    <input type="email" class="form-control" id="nomeCliente" [formControl]="emailFormControl"
                        [ngClass]="{ 'is-invalid': emailFormControl.invalid && (emailFormControl.dirty || emailFormControl.touched) }"
                        placeholder="Ex. pat@example.com">
                </div>

            </form>
        </div>

    </div>



</main>