<main>
    <div class="head-title">
        <div class="left">
            <h1>Empréstimo</h1>
            <ul class="breadcrumb">
                <li>
                    <a [routerLink]="['/emprestimo-dashboard']" class="active">Empréstimo</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a href="#">Cadastrar empréstimo</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-3">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Nome do cliente</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                        placeholder="Ex. pat@example.com">
                    <mat-hint>Errors appear instantly!</mat-hint>
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Nome do cliente é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </form>
        </div>

    </div>



</main>