<!-- Page Heading -->
<div class="row">
    <div class="col">
        <h1 class="h3 mb-2 text-gray-800">Empréstimo Credcoop</h1>
        <p class="mb-4">Cadastre um Empréstimo Credcoop</p>
    </div>
</div>

<form [formGroup]="loanForm" (ngSubmit)="onSubmitLoan()">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-9 border-right-md">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="row">
                                <div class="col-sm-12 pt-4">
                                    <h2>Empréstimo</h2>
                                </div>
                                <div class="col-sm-12">
                                    <label for="clientLoanId" class="form-label">Cliente</label>
                                    <ng-select formControlName="clientLoanId" [items]="clients" bindLabel="clientName" bindValue="id" >
                                    <ng-option [value]="-1" disabled selected>Selecione o seu estado</ng-option>
                                        <ng-option *ngFor="let client of clients" [value]="[client.id]">
                                            {{ client.clientName }}
                                        </ng-option>
                                    </ng-select>
                                  </div>
                                <div class="col-sm-3">
                                    <label for="loanAmount" class="form-label">Valor</label>
                                    <input type="number" formControlName="loanAmount" class="form-control form-control-sm" id="loanAmount" />
                                </div> 
                                <div class="col-sm-3">
                                    <label for="startDate" class="form-label">Valor</label>
                                    <input type="date" formControlName="startDate" class="form-control form-control-sm" id="startDate" />
                                </div>  
                                <div class="col-sm-3">
                                    <label for="amountOfInstallments" class="form-label">Parcelas</label>
                                    <input type="number" formControlName="amountOfInstallments" class="form-control form-control-sm" id="amountOfInstallments" />
                                </div> 
                            </div>        
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <button class="btn btn-primary btn-block btn-sm" type="submit" >Cadastrar</button>
                    <a class="btn btn-danger btn-block btn-sm" [routerLink]="['/home']">Descartar</a>
                </div>
            </div>
        </div>
    </div>
</form>
