<!-- Page Heading -->
<div class="row">
	<div class="col">
		<h1 class="h3 mb-2 text-gray-800">Empréstimo Credcoop</h1>
		<p class="mb-4">Cadastre um Empréstimo Credcoop</p>
	</div>
</div>

<form [formGroup]="loanForm" (ngSubmit)="onSubmitLoan()">
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-12 col-md-9 border-right-md">
					<div class="tab-content" id="v-pills-tabContent">
						<div class="tab-pane fade show active" role="tabpanel" aria-labelledby="v-pills-home-tab">
							<div class="row">
								<div class="col-sm-12 pt-4">
									<h2>Empréstimo</h2>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-12">
									<label for="credcoopClientLoanId" class="form-label">Cliente</label>
									<ng-select formControlName="credcoopClientLoanId" [items]="clients" bindLabel="clientName"
										bindValue="id" class="text-uppercase"
										placeholder="Escolha o Cliente que deseja realizar o empréstimo">
										<ng-option *ngFor="let client of clients" [value]="client.id">
											{{ client.clientName }}
										</ng-option>
									</ng-select>
								</div>
							</div>
							<div class="row pt-md-3">
								<div class="col-sm-4">
									<label for="loanAmount" class="form-label">Valor</label>
									<input (click)="addInstallments()" type="number" formControlName="loanAmount"
										class="form-control form-control-sm" id="loanAmount" />
								</div>
								<div class="col-sm-4">
									<label for="startDate" class="form-label">Data do empréstimo</label>
									<input type="date" formControlName="startDate" class="form-control form-control-sm" id="startDate" />
								</div>
								<div class="col-sm-4">
									<label for="amountOfInstallments" class="form-label">Parcelas</label>
									<input (change)="addInstallments()" type="number" formControlName="amountOfInstallments"
										class="form-control form-control-sm" id="amountOfInstallments" />
								</div>
							</div>
							<div class="row pt-md-3">
								<div class="col-sm-12">
									<div class="custom-control custom-radio custom-control-inline">
										<input id="online" type="radio" class="custom-control-input" name="modality" value="online"
											formControlName="modality">
										<label class="custom-control-label" for="online">Online</label>
									</div>
									<div class="custom-control custom-radio custom-control-inline">
										<input id="inPerson" type="radio" class="custom-control-input" name="modality" value="inPerson"
											formControlName="modality">
										<label class="custom-control-label" for="inPerson">Presencial</label>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="col-12 col-md-3">
					<button class="btn btn-primary btn-block btn-sm" type="submit">Cadastrar</button>
					<a class="btn btn-danger btn-block btn-sm" [routerLink]="['/home']">Descartar</a>
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<div formArrayName="installments">

				<div class="row">
					<div *ngFor="let installment of installments.controls; index as i" [formGroupName]="i"
						class="col-xl-3 col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Parcela
											{{ i + 1 }}/{{ installments.controls.length }}</div>
										<span>{{ installment.value.amount }}</span><br>
										<span>{{ installment.value.dueDate| date:'dd/MM/yyyy' }}</span>
									</div>
									<div class="col-auto">
										<i class="fas fa-user fa-cog fa-2x text-gray-300"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>