<!-- Page Heading -->
<div class="row">
	<div class="col">
		<h1 class="h3 mb-2 text-gray-800">Empréstimo Credcoop</h1>
		<p class="mb-4">Cadastre um Empréstimo Credcoop</p>
	</div>
</div>

<!-- Content Row -->
<div class="row">
	<!-- Content Column -->
	<div class="col-lg-12">
		<div class="card shadow mb-4">
			<!-- Card header -->
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Empréstimo</h6>
			</div>
			<!-- Card body -->
			<div class="card-body">
				<form [formGroup]="loanForm" (ngSubmit)="onSubmitLoan()">
					<div class="row">
						<div class="col-12 col-md-9 border-right-md">
							<div class="tab-content" id="v-pills-tabContent">
								<div class="tab-pane fade show active" role="tabpanel" aria-labelledby="v-pills-home-tab">
									<div class="row">
										<div class="col-sm-12">
											<label for="credcoopClientLoanId" class="form-label">Cliente</label>
											<ng-select formControlName="credcoopClientLoanId" [items]="clients" bindLabel="clientName"
												bindValue="id" class="text-uppercase"
												placeholder="Escolha o Cliente que deseja realizar o empréstimo">
												<ng-option *ngFor="let client of clients" [value]="client.id">
													{{ client.clientName }}
												</ng-option>
											</ng-select>
										</div>
									</div>
									<div class="row pt-md-3">
										<div class="col-sm-4">
											<label for="loanAmount" class="form-label">Valor</label>
											<input type="number" formControlName="loanAmount" class="form-control form-control-sm"
												id="loanAmount" />
										</div>
										<div class="col-sm-4">
											<label for="startDate" class="form-label">Data do empréstimo</label>
											<input type="date" formControlName="startDate" class="form-control form-control-sm" id="startDate"
												[(ngModel)]="startDate" (change)="onInputChange()" />
										</div>
										<div class="col-sm-4">
											<label for="amountOfInstallments" class="form-label">Parcelas</label>
											<input type="number" formControlName="amountOfInstallments" class="form-control form-control-sm"
												id="amountOfInstallments" [(ngModel)]="amountOfInstallments" (change)="onInputChange()" />
										</div>
									</div>
									<div class="row pt-md-3">
										<div class="col-sm-12">
											<div class="custom-control custom-radio custom-control-inline">
												<input id="online" type="radio" class="custom-control-input" name="modality" value="online"
													formControlName="modality">
												<label class="custom-control-label" for="online">Online</label>
											</div>
											<div class="custom-control custom-radio custom-control-inline">
												<input id="inPerson" type="radio" class="custom-control-input" name="modality" value="inPerson"
													formControlName="modality">
												<label class="custom-control-label" for="inPerson">Presencial</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-3">
							<button class="btn btn-primary btn-block btn-sm" type="submit">Cadastrar</button>
							<a class="btn btn-danger btn-block btn-sm" [routerLink]="['/home']">Descartar</a>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>

<!-- Content Row -->
<div class="row">
	<!-- Content Column -->
	<div class="col-lg-12 mb-4">

		<div class="card shadow mb-4">
			<!-- Card header -->
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Detalhes do Empréstimo</h6>
			</div>
			<!-- Card body -->
			<div class="card-body">
				<div class="row">
					<div *ngFor="let date of installmentDates; let i = index" class="col-xl-3 col-md-6 mb-4">
						<div class="card border-left-success shadow h-100">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Parcela {{i+1}}/{{installmentDates.length}}</div>
										<span>R$ 1000,00</span><br>
										<div class="h5 mb-0 font-weight-bold text-gray-800">{{ date | date:'dd/MM/yyyy':'UTC' }}</div>
									</div>
									<div class="col-auto">
										<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>