<div class="d-flex justify-content-center" *ngIf="!isLoggedIn">
  <div class="row">
    <div class="col">

      <form (submit)="login()">
        <div class="row">
          <div class="col">
            <div class="col">
              <label for="email" class="form-label">Email</label>
              <input [(ngModel)]="email" class="form-control" name="email" id="email" /><br />
              <label for="password" class="form-label">Senha</label>
              <input [(ngModel)]="password" class="form-control" name="password" id="password" />
            </div>
          </div>
        </div>
        <div>
          <button type="submit" class="btn btn-primary w-100">
            Login
          </button>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- <div *ngIf="isLoggedIn; else notLoggedInMessage">
  <p>Você está logado.</p>
</div> -->

<!-- <ng-template #notLoggedInMessage>
  <p>Você não está logado.</p>
</ng-template> -->