<!-- Page Heading -->
<div class="row">
    <div class="col">
        <h1 class="h3 mb-2 text-gray-800">Credcoop</h1>
        <p class="mb-4">Atualize as informações do cliente </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-body">
                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">      
                    <h2>Dados pessoais</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="clientName" class="form-label">Nome completo</label>
                            <input formControlName="clientName" class="form-control form-control-sm" id="clientName" />
                        </div>                
                        <div class="col-sm-4">
                            <label for="cpf" class="form-label">CPF:</label>
                            <input formControlName="cpf" class="form-control form-control-sm" type="text" id="cpf" >
                        </div>
                    </div>
            
                <!-- Endereços (FormArray) -->
                <div formArrayName="addresses">
                    <!-- Loop para exibir cada grupo de endereço -->
                    <div class="row" *ngFor="let address of addresses.controls; let i = index" [formGroupName]="i">
                        <div class="col-sm-12 pt-4">
                            <h2>Endereço {{ i + 1 }}</h2>
                        </div>
                        <!-- Campos do endereço -->
                        <div class="col-sm-4">
                            <label for="zipCode">CEP:</label>
                            <input formControlName="zipCode" class="form-control form-control-sm" type="text" id="zipCode">
                        </div>      
                        <div class="col-sm-4">
                            <label for="street">Rua:</label>
                            <input formControlName="street" class="form-control form-control-sm" type="text" id="street">
                        </div>    
                        <div class="col-sm-4">
                            <label for="buildingNumber" class="form-label">Nº</label>
                            <input formControlName="buildingNumber" class="form-control form-control-sm" type="text" id="buildingNumber" />
                        </div>  
                        <div class="col-sm-4">
                            <label for="neighborhood" class="form-label">Bairro</label>
                            <input formControlName="neighborhood" class="form-control form-control-sm" id="neighborhood" />
                        </div>
                        <div class="col-sm-4">
                            <label for="city" class="form-label">Cidade</label>
                            <input formControlName="city" class="form-control form-control-sm" id="city" />
                        </div>
                        <div class="col-sm-4">
                            <label for="state" class="form-label">Estado</label>
                            <input formControlName="state" class="form-control form-control-sm" id="state" />
                        </div>
                        <div class="col-sm-4">
                            <label for="complement" class="form-label">Complemento</label>
                            <input formControlName="complement" class="form-control form-control-sm" id="complement" />
                        </div>
                        <div class="col-sm-4">
                            <label for="referencePoint" class="form-label">Ponto de referência</label>
                            <input formControlName="referencePoint" class="form-control form-control-sm" id="referencePoint" />
                        </div>    
                        <div class="col-sm-3 d-flex align-items-end mx-1" style="margin-bottom: 0.3rem">
                            <a *ngIf="i == addresses.length-1" type="button" (click)="addAddress()" class="btn-sm">
                                <i class="text-primary fas fa-plus"></i>
                            </a>
                            <div type="button" class="float-right btn-sm mx-1" (click)="deleteAddress(i)">
                                <i class="text-danger fas fa-trash"></i>
                            </div>
                        </div>                    
                    </div>
                </div>        
                
                <div class="row">
                    <div class="col-12 pt-4">
                        <button type="submit" class="btn btn-primary float-right">Salvar Alterações</button>   
                    </div>
                </div>
                
                     
                
                </form>
            </div>
        </div>
    </div>
</div>
  