
@import "~@ng-select/ng-select/themes/default.theme.css";

.ng-select .ng-select-container {    
    min-height: 1px !important;
    height: calc(1.5em + 0.5rem + 2px) !important;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    text-transform: uppercase;
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container{
    color: #6e707e;
    background-color: #fff;
    border-color: #bac8f3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}


